[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
scrapy = "*"
lxml = "*"
html2text = "*"
asyncio = "*"
tenacity = "*"
playwright = "*"
httpx = {extras = ["http2"], version = "*"}

[dev-packages]

[requires]
python_version = "3.13"
